#build
/build

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

#env
.env
.env.*

#next
/.next

# vercel
.vercel

#lock
*.lock
