/* Grid style */
#__next {
  display: grid;
  grid-template-columns: 22% 78%;
  grid-template-rows: 1;
  width: 100%;
  height: 100vh;

  #header {
    width: 100%;
    height: 100vh;
    background-color: $Header-one-color;
  }

  #content {
    width: 100%;
    height: 100vh;
    background-color: $nav-one-color;
  }
}
