/* Header style */
#header {
  display: flex;
  padding: 2rem;
  background-color: $cgray-6;

  .header_wrapper {
    display: grid;
    align-items: center;
    grid-template-columns: 30% 1fr 10%;
    width: 100%;

    .expand {
      display: none;
    }
  }
}

// Desktop (1024 <= W)
@media screen and (min-width: 1024px) {
  #header {
  }
}

// Tablet (768 <= W < 1024)
@media screen and (max-width: 1023px) {
  #header {
  }
}

// Mobile (W < 768)
@media screen and (max-width: 767px) {
  #header {
    .header_wrapper {
      .navigator {
        display: none;
      }

      .expand {
        grid-column-start: 3;
        grid-column-end: 4;
        display: flex;
      }
    }
  }
}
