.contacts {
  @include Flex(column, 0.6rem);
  list-style: none;
  justify-content: center;

  &_phone,
  &_email {
    @include Flex(row, 0.5rem);
    align-items: center;
    a {
      white-space: nowrap;
      letter-spacing: 0.1rem;
      font-weight: 500;
    }
    .before {
      @include Flex(row, 0.5rem);
      align-items: center;
      justify-content: center;
      height: 100%;

      img {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }

  &_social {
    @include Flex(row, 0.77rem);
    align-items: center;
    li {
      list-style: none;

      img {
        width: 1.85rem;
        height: 1.85rem;
      }
    }
  }
}
