@mixin Flex($direction, $gap) {
  display: flex;
  flex-direction: $direction;
  gap: $gap;
}

.contacts {
  @include Flex(column, 0.3rem);
  list-style: none;

  &_phone,
  &_email {
    @include Flex(row, 0.3rem);
  }

  &_social {
    ul {
      @include Flex(row, 0.3rem);
      align-items: center;
      li {
        list-style: none;
      }
    }
  }
}
