.navigator {
  display: flex;
  gap: 1rem;
  list-style: none;
  background-color: $cgray-2;
  .navigator-item {
    .nav_link {
      color: $wgray-4;
    }
  }

  .navigator-item.selected {
    .nav_link {
      color: $black;
      border-bottom: 1px solid $black;
    }
  }
}
