/* Functions */
@mixin components-button-style($color, $width: 1.5rem, $height) {
  color: $color;
  width: $width;
  height: $height;
}

@mixin Flex($direction, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  gap: $gap;
}
