/* Functions */
@mixin components-button-style($color, $width: 1.5rem, $height) {
  color: $color;
  width: $width;
  height: $height;
}

@mixin Flex($direction, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  gap: $gap;
}

@mixin GridArea($col_start: 0, $col_end: 0, $row_start: 0, $row_end: 0) {
  grid-row-start: $row_start;
  grid-row-end: $row_end;
  grid-column-start: $col_start;
  grid-column-end: $col_end;
}
